.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.container h1 {
    left: 360px;
    width: 274px;
    height: 190px;
    text-align: left;
    font: normal normal normal 80px/95px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 40px;
    margin-bottom: 0px;
}

.profileImg {
    width: 324px;
    height: 324px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container img {
    display: block;
}

.hr1 {
    height: 72px;
}

.eng {
    top: 682px;
    left: 504px;
    width: 101px;
    height: 29px;
    text-align: left;
    font: normal normal 600 24px/29px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
}

.title {
    margin-top: 48px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
    opacity: 1;
}

.hr-24 {
    height: 24px;
}

ul li {
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    list-style-type: none;
    margin-bottom: 24px;
}

ul {
    padding-left: 0;
}

.profile ul {
    margin-top: 16px;
}

.skills {
    background: #415165 0% 0% repeat padding-box;
    opacity: 1;
    align-content: center;
    margin-bottom: 72px;
    margin-top: 72px;
}

.skillDiv {
    width: 996px;
    border-bottom: 1px solid #FFFFFF;
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 8px;
}

.title2 {
    text-align: center;
    font: normal normal medium 32px/45px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
}

.skillEng {
    text-align: left;
    font: normal normal 600 24px/29px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.skillList ul li {
    text-align: left;
    font: normal normal 300 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 24px;
}

.skillList {
    border-left: 1px solid #96A9C4;
    opacity: 1;
    margin-left: 492px;
}

.skillList ul {
    margin-top: 40px;
}

.experienceList {
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
    opacity: 1;
}

.experienceList ul {
    margin-left: 24px;
}

.hexschool {
    margin-bottom: 8px;
}

.hex {
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}

.expSpan {
    text-align: left;
    font: normal normal 300 20px/30px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.experienceList ul li h4 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.simtree {
    margin-bottom: 8px !important;
}

.footer {
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 8px;
    width: 1200px;
    border-bottom: 1px solid #FFFFFF;
    opacity: 1;
}

.contact h2 {
    text-align: center;
    font: normal normal medium 32px/45px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.contactEng {
    font: normal normal medium 24px/29px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.info {
    text-align: center;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 16px;
}

.info div {
    margin-top: 16px;
}

.facebook {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.instagram {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.line {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.icon {
    margin-top: 24px;
    padding-bottom: 48px;
}

.icon img {
    margin: 0px 12px;
}