.container {
    width: 1024px;
    padding: 30px 42px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-bottom: 30px;
}

.logo {
    width: 235px;
    padding: 0;
}

.logo img {
    margin-top: 0;
    margin-bottom: 0;
}

.menubar {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.menubar div {
    margin-top: 10px;
}

.menubar span {
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}

.shoppingCart {
    width: 24px;
    height: 24px;
}